// fonts
$font-Inter: "Inter", sans-serif;
$font-Arial: "Arial", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-dark: #000000;
$color-dark-2: #25232F;
$color-blue: #4D63CB;
$color-blue-2: #4087FC;
$color-coral: #FFD301;
$color-green: #47EE9A;
$color-red: #FF1919;
$color-red-2: #C60606;
$color-red-dark: #180202;
$color-red-dark-2: #430202;
// colors
