// contact
.contact {
  padding: 30px 0;
  background: $color-red-dark-2;

  &_title {
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 32px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
    text-align: left;

    @include media('md') {
      font-size: 16px;
      line-height: 20px;
    }

    img {
      width: 79px;
      height: 79px;
      display: flex;
      flex-shrink: 0;

      @include media('md') {
        width: 55px;
        height: 55px;
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 15px 20px;
    border: 1px solid $color-white;
    background: #EB0000;
    border-radius: 15px;

    @include media('lg') {
      gap: 12px;
    }

    @include media('md') {
      grid-template-columns: repeat(1,1fr);
      padding: 10px;
    }

    input {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: $color-dark;
      border-radius: 15px;
      border: 1px solid $color-dark;
      background: $color-white;
      padding: 10px 20px;

      @include media('md') {
        height: 40px;
        border-radius: 5px;
        font-size: 12px;
      }
    }

    button {
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      color: #F9B2B2;
      background: #470000;
      border-radius: 15px;
      height: 60px;

      @include media('md') {
        height: 40px;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }
}
// contact

// text_block
.text_block {
  background: $color-red-2;
  padding: 120px 0;

  @include media('md') {
    padding: 90px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: centere;
    gap: 45px;

    p {
      font-family: $font-Arial;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: $color-white;

      b {
        font-weight: 600;
      }
    }
  }
}
// text_block

.commentSwiper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 40px;

  .comment_btn_prev {
    position: absolute;
    left: 0;
    z-index: 2;
  }

  .comment_btn_next {
    position: absolute;
    right: 0;
    z-index: 2;
  }

  .swiper-slide {
    height: auto;
  }
}

.comment-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;

  .swiper-pagination-bullet {
    margin: 0;
    background: #ADADAD;
    opacity: 1;
    transition: .3s ease;

    &-active {
      background: #222222;
    }
  }
}

.comment_card {
  background: #C60606;
  display: flex;
  gap: 45px;
  max-width: 860px;
  margin: auto;
  height: 400px;

  @include media('md') {
    flex-direction: column;
    gap: 0;
    height: 100%;
  }

  &_img {
    width: 300px;
    display: flex;
    flex-shrink: 0;

    @include media('md') {
      height: 360px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_text {
    padding: 40px 40px 40px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    @include media('md') {
      padding: 24px;
    }
  }

  p {
    font-family: $font-Arial;
    font-weight: 400;
    font-size: 19.8px;
    line-height: 31px;
    color: $color-white;
    margin-bottom: 24px;

    @include media('md') {
      font-size: 16px;
      line-height: 22px;
    }
  }

  h6 {
    font-family: $font-Arial;
    font-weight: 700;
    font-size: 28px;
    line-height: 37.8px;
    color: $color-white;
    text-align: left;
  }
}
