.form-tel {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $color-dark;
    border-radius: 15px;
    height: 60px;
    width: 100%;
    background: white;

    @include media('md') {
        height: 40px;
        border-radius: 5px;
    }

    &__btn {
        display: flex;
        align-items: center;
        background: transparent !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: $color-dark;
        flex-shrink: 0;
        padding: 0 5px 0 22px;
        cursor: pointer;
        user-select: none;
        position: relative;
        z-index: 1;

        @include media('md') {
            font-size: 11px;
        }

        img {
            width: 18px;
            height: 13px;
            flex-shrink: 0;
            object-fit: cover;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        }

        svg {
            width: 8px;
            flex-shrink: 0;
            margin: 0 10px 0 6px;

            @include media('md') {
                margin: 0 6px;
            }
        }

        span {
            flex-shrink: 0;
        }
    }

    input {
        background: transparent !important;
        border: 0 !important;
        height: 100% !important;
        width: 100%;
        padding: 0 !important;

        @include media('md') {
            font-size: 11px !important;
        }

    }

    &__list {
        max-height: 200px;
        overflow-y: scroll;
        padding: 5px 0;

        &::-webkit-scrollbar {
            display: none;
        }

        &-wrap {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            transform: translateY(100%);
            background: white;
            z-index: 5;
            display: none;
        }

        li {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 10px;
            padding: 5px 10px;
            cursor: pointer;
            user-select: none;

            &:hover {
                background: rgb(227, 227, 227);
            }

            div {
                width: 100%;
                font-size: 13px;
                color: black;
                font-weight: 500;
            }

            span {
                display: flex;
                flex-direction: row-reverse;
                flex-shrink: 0;
                font-size: 14px;
                line-height: 100%;
                gap: 6px;
                color: black;
            }

            img {
                width: 18px;
                height: 13px;
                object-fit: cover;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
                flex-shrink: 0;
            }
        }
    }

    &.active {
        .form-tel__list-wrap {
            display: block;
        }
    }
}
