// home
.home {
  padding: 80px 0 120px 0;

  @include media('md') {
    padding: 40px 0 120px 0;
  }

  .container {
    position: relative;
  }

  h2 {
    font-family: $font-Arial;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: $color-white;

    @include media('md') {
      font-size: 20px;
      line-height: 30px;
    }
  }

  h1 {
    font-family: $font-Arial;
    font-weight: 700;
    font-size: 47px;
    line-height: 63px;
    text-align: center;
    color: $color-white;

    @include media('md') {
      font-size: 22px;
      line-height: 34px;
    }
  }

  &_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #EF0000;

    @include media('lg') {
      flex-direction: column-reverse;
      border-bottom: none;
    }
  }

  &_form {
    padding: 34px 20px;
    border: 2px solid $color-white;
    background: #FF1919;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 0px 50px 10px #00000099;
    width: 410px;
    display: flex;
    flex-shrink: 0;
    height: auto;

    @include media('xs') {
      width: 100%;
      padding: 24px 20px;
    }

    gap: 12px;

    h6 {
      font-family: $font-Arial;
      font-weight: 700;
      font-size: 28px;
      line-height: 43px;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;

      @include media('xs') {
        font-size: 22px;
        line-height: 34px;
      }
    }

    p {
      font-family: $font-Arial;
      font-weight: 700;
      font-size: 20px;
      line-height: 31px;
      text-align: center;
      color: $color-dark;

      @include media('xs') {
        font-size: 16px;
        line-height: 22px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @include media('lg') {
        gap: 12px;
      }

      .form-tel {
        border-radius: 0;
      }

      input {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: $color-dark;
        border: 1px solid $color-dark;
        background: $color-white;
        padding: 10px 20px;
        height: 60px;

        @include media('md') {
          height: 40px;
          border-radius: 5px;
          font-size: 12px;
        }
      }

      button {
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        text-align: center;
        color: #F9B2B2;
        background: #470000;
        height: 60px;

        @include media('md') {
          height: 40px;
          font-size: 12px;
        }
      }
    }
  }

  &_img {
    width: 500px;
    transform: translateY(4px);

    @include media('xs') {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}
// home
