// online_course
.online_course {

  &_in {
    border: 2px solid #FF0029;
    background: #101010;
    border-radius: 80px;
    padding: 60px;

    @include media('lg') {
      background: transparent;
      padding: 0;
      border: none;
    }
  }

  &_blocks {
    margin-top: 50px;
    display: flex;

    @include media('lg') {
      align-items: center;
      flex-direction: column-reverse;
    }

    @include media('md') {
      margin-top: 0;
    }
  }

  &_img {
    width: 494px;
    border-bottom: 5px solid red;
    height: 650px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    @include media("lg") {
      margin: auto;
    }

    @include media('sm') {
      width: 100%;
    }

    @include media('xs') {
      width: 300px;
      height: 400px;
    }

    img {
      position: absolute;
      top: -170px;
      left: 0;
      width: 100%;

      @include media('xs') {
        top: -100px;
      }
    }
  }

  h2 {
    font-family: $font-Arial;
    font-weight: 700;
    font-size: 38px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 120px;
    border-radius: 20px;
    background: #EF0000;
    color: $color-white;
    max-width: 910px;
    margin: auto;

    @include media('md') {
      font-size: 20px;
      line-height: 30px;
      padding: 12px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-width: 450px;
    margin-top: 150px;

    @include media('lg') {
      margin-top: 10px;
      max-width: 500px;
      border: 2px solid #FF0029;
      background: #101010;
      border-radius: 20px;
      padding: 24px;
      gap: 35px;
    }

    li {
      padding-left: 35px;
      font-family: $font-Arial;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      color: $color-white;
      position: relative;

      @include media('md') {
        font-size: 14px;
        line-height: 20px;
        padding-left: 25px;
      }

      &::before {
        content: '';
        width: 19px;
        height: 19px;
        background: #EF0000;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        position: absolute;
        left: 0;
        top: 5px;

        @include media('md') {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
// online_course
