// quiz
.quiz_block {
  padding-top: 40px;

  .section_title {
    margin: 24px auto;
    font-size: 30px;
    line-height: 40px;
    max-width: 550px;

    @include media('md') {
      font-size: 24px;
      line-height: 30px;
      max-width: 100%;
      margin: 0 20px;
    }
  }

  .container {
    @include media('md') {
      padding: 0;
    }
  }
}

.quiz {
  max-width: 960px;
  margin: 40px auto;
  background: $color-white;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 16px;
    padding: 45px 45px 0 45px;

    @include media('md') {
      padding: 20px 20px 0 20px;
    }
  }

  &__body {
    padding: 0 45px 45px 45px;

    @include media('md') {
      padding: 0 20px 20px 20px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 13.9px;
    line-height: 21.7px;
    color: $color-dark;
    display: flex;
    align-items: center;

    @include media('md') {
      font-size: 12px;
      line-height: 18px;
    }

    img {
      @include media('md') {
        display: none;
      }
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: $color-dark;

    @include media('md') {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .one_title {
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: $color-dark;

    @include media('md') {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__count {
    font-weight: 400;
    font-size: 14px;
    line-height: 21.7px;
    color: $color-dark;
    width: max-content;
    white-space: nowrap;
  }

  &__progress {
    height: 5px;
    background: #CBCBCB;
    overflow: hidden;
    margin: 24px 0;

    &-bar {
      height: 100%;
      width: 0;
      background: $color-red;
      transition: width 0.3s ease;
    }
  }

  &__question {
    display: none;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;

    &.active {
      display: flex;
    }

    .quiz__text {
      @include media('md') {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &__option {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #f8f8f8;
    }

    .quiz__text {
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      color: $color-dark;
    }

    input {
      display: none;
    }

    .quiz__custom-radio {
      width: 20px;
      height: 20px;
      border: 2px solid #666666;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 10px;
        height: 10px;
        background: #666666;
        border-radius: 50%;
        transition: transform 0.2s ease;
      }
    }

    input:checked + .quiz__custom-radio::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__btn {
    padding: 10px 20px;
    border: none;
    background: #EF0000;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: $color-white;
    border-radius: 30px;
    width: 120px;
    height: 45px;

    &:disabled {
      background: #E0E0E0;
      cursor: not-allowed;
    }

    .one {
      transform: rotate(180deg) translateY(-2px);
    }

    span {
      color: $color-white;
    }

    &:hover:not(:disabled) {
      background: #333;
    }
  }

  &__form {
    display: none;

    &-title {
      font-size: 24px;
      line-height: 150%;
      font-weight: 500;
      color: $color-dark;
      padding: 40px;

      @include media('md') {
        padding: 20px;
        font-size: 20px;
        line-height: 120%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px;

      @include media('lg') {
        padding: 20px;
      }
    }

    .line {
      height: 5px;
      width: 100%;
      background: $color-red;
    }

    &-group {
      text-align: left;

      input {
        width: 100%;
        padding: 12px 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        transition: 0.2s;
        height: 45px;

        &:focus {
          outline: none;
        }
      }
    }

    .form-tel {
      height: 45px;
      border-radius: 5px;
      border: 1px solid #ccc;

      input {
        height: 45px;
        font-size: 14px;
      }
    }

    &-btn {
      background: $color-red;
      color: $color-white;
      padding: 14px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #333;
      }
    }
  }

}


// quiz
