// tabs
.tabs__controls {
  background: $color-dark;
  padding: 100px 0 60px 0;
}

.tabs__buttons {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border: 1px solid $color-white;
}

.tabs__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  border-right: 1px solid $color-white;
  height: 60px;

  &:last-child {
    border-right: none;
  }

  &.active {
    background: $color-white;
    color: $color-dark;
  }
}

.select_block {
  position: relative;
  display: none;

  @include media('md') {
    display: block;
  }

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }
}

.tabs__select {
  display: none;
  padding: 10px 20px;
  border-radius: 3px;
  background: $color-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: $color-dark;
  outline: none;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.tabs__panels {
  background-image: url('../images/tab_Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 24px 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.tabs__panel {
  position: relative;
  z-index: 2;
  transition: opacity .28s ease, transform .28s ease, visibility .28s ease;
  transform: translateY(0);

  &_in {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, .70);
    border-radius: 10px;
    border: 1px solid $color-white;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

    @include media('md') {
      grid-template-columns: repeat(1,1fr);
      padding: 20px 20px 90px 20px;
    }

    h2,h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 62px;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
    }

    h3 {
      @include media('md') {
        font-size: 25px;
        line-height: 35px;
      }
    }

    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 47px;
      text-align: center;
      color: $color-white;
      margin: 65px 0 45px 0;

      @include media('md') {
        margin: 20px 0 0 0;
        font-size: 14px;
        line-height: 20px;
      }
    }

    button {
      font-weight: 700;
      font-size: 14px;
      line-height: 21.7px;
      text-align: center;
      color: $color-white;
      border-radius: 30px;
      background: linear-gradient(0deg, #DD0C0C 0%, #FF6573 100%);
      width: 350px;
      height: 56px;

      @include media('md') {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: auto;
        width: calc(100% - 40px);
      }
    }
  }

  .content_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    @include media('md') {
      gap: 0;
    }
  }

  .content_img {
    height: 450px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media('xs') {
      height: 250px;
    }
  }
}

.tabs__panel[hidden]{
  opacity:0;
  transform: translateY(8px);
  visibility:hidden;
  height:0;
  padding:0 18px;
  overflow:hidden;
}

@media (max-width: 768px){
  .tabs__buttons{ display:none; }
  .tabs__select{ display:block; width:100%; }
  .tabs__controls{ flex-direction:column; align-items:flex-start; gap:12px; }
}

// tabs
